@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
.html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0000);
  overflow: hidden;
}
.page-header {
  color: #000000;
  background-color: #ffffff;
}
.main-navigation {
  display: flex;
  width: 1200px;
  margin: 0% auto;
  padding: 0%;
  font-family: "PT Sans", sans-serif;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 420px;
  margin: 0%;
  padding: 0%;
  list-style-type: none;
  margin-left: 40px;
}
.navigation-logo {
  display: block;
  width: 138px;
  margin: 0% auto;
  margin-right: 120px;
}
.navigation-user {
  display: flex;
  flex-wrap: wrap;
  padding: 0%;
  margin-top: 14px;
}
.navigation-link {
  position: relative;
  display: block;
  margin: 19px 33px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}
.navigation-link:hover {
  color: #756257;
}
.navigation-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 10px;
  padding: 0px 5px;
}
.navigation-link-current::before {
  position: absolute;
  left: -2px;
  right: -5.14%;
  top: 204.99%;
  bottom: 0;
  height: 2px;
  background-color: #756257;
  content: "";
}
.navigation-icon {
  position: absolute;
  left: 0%;
  right: 0%;
  top: -0.56%;
  bottom: 0%;
  margin: -7px -17px;
  fill: #000000;
}
.navigation-icon:hover {
  stroke: #756257;
  fill: #756257;
}
.navigation-icon:focus {
  outline: 3px solid #83b3d3;
  border-radius: 10px;
  padding: 10px 10px;
}
.navigation-icon-favourite {
  position: absolute;
  left: 0%;
  right: 0%;
  top: -20.56%;
  bottom: 0%;
  margin: -16px -20px;
}
.navigation-icon-favourite:hover {
  stroke: #756257;
  fill: #756257;
}
.navigation-icon-favourite:focus {
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}
.button-in {
  padding: 9px 35px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #756257;
  margin-right: 71px;
  margin-left: 5px;
}
.button-in:hover {
  background-color: #615048;
}
.button-in:focus {
  background: #615048;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}
.main-container {
  flex-grow: 1;
}
.main-index {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
}
.page-container {
  width: 1200px;
  margin: 0% auto;
}
.main-logo {
  margin: 0%;
  padding: 0%;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.logo {
  display: block;
  width: 457px;
  margin: 0% auto;
  padding-top: 51px;
  padding-bottom: 82px;
}
.advantages-list {
  text-align: center;
  list-style-type: none;
  width: 1200px;
}
.intro {
  color: #000000;
  background-color: #ffffff;
}
.city-intro {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  margin: 0px;
  padding: 63px 240px 23px;
}
.advantages-intro {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0px 240px 79px;
}
.advantages {
  color: #ffffff;
  background-color: #83b3d3;
}
.advantages-item {
  margin: 0%;
  padding: 0%;
  width: 400px;
  height: 384px;
}
.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0%;
  margin-top: 98px;
  margin-bottom: 25px;
}
.advantages-discription {
  margin: 26px 75px;
  margin-top: 26px;
  padding-bottom: 77px;
  text-align: center;
  width: 250px;
}
.advantages-city {
  display: flex;
  margin: 0%;
  padding: 0%;
}
.info {
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  margin: 0% auto;
  padding: 0%;
}
.info-list {
  display: flex;
  justify-content: space-between;
  margin: 0%;
  list-style-type: none;
}
.discription-logo {
  margin-top: 90px;
}
.info-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0%;
  margin-top: 23px;
  margin-bottom: 20px;
}
.info-discription {
  margin: 0% auto;
  margin-top: 20px;
  margin-bottom: 79px;
  width: 250px;
}
.info-item {
  width: 400px;
  height: 384px;
  color: #000000;
  background-color: rgba(red, green, blue, alpha);
  margin: 0%;
  padding: 0%;
}
.advantages-canyon {
  display: flex;
  justify-content: space-between;
  margin: 0%;
  flex-direction: row-reverse;
}
.advantages-columns {
  display: flex;
  justify-content: space-between;
  margin: 0%;
  padding: 0%;
  color: #000000;
  background-color: rgb(227, 223, 223);
}
.hotel-serch {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  padding: 0% 240px;
  width: 720px;
  height: 417px;
}
.hotel-serch-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 91px;
  margin: 0%;
  margin-bottom: 28px;
}
.hotel-serch-form {
  margin: 0% auto;
  margin-bottom: 73px;
  width: 480px;
}
.button {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #756257;
}
.newsletter {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/background\ \(1\).jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0%;
  padding: 0% 240px;
  width: 720px;
  height: 411px;
}
.button-serch {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #756257;
  padding: 13px 120px 17px;
  border-radius: 10px;
  border: none;
}
.button-serch:hover {
  background-color: #615048;
}
.button-serch:focus {
  background: #615048;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}
.newsletter-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0%;
  padding-top: 94px;
}
.newsletter-subscribtion {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0% auto;
  margin-top: 15px;
  margin-bottom: 26px;
  width: 680px;
  height: 72px;
}
.field {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  left: 840px;
  top: 3041px;
  background-color: #f2f2f2;
  width: 600px;
  border: none;
  border-radius: 10px 0px 0px 10px;
  padding-left: 22px;
}
.button-newsletter-button {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 0px 10px 10px 0px;
  padding: 13px 20px;
}
.button-newsletter-button:hover {
  background-color: #68a2ca;
}
.button-newsletter-button:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}
.contacts-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  margin: 0%;
  padding: 0% 53px;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 720px;
  height: 50px;
}
.contacts-number:hover {
  color: #756257;
}
.contacts-number:focus {
  color: #756257;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}
.footer-container a {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}
.footer-social {
  margin: 0%;
  padding: 0%;
}
.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0%;
  padding: 0%;
  list-style-type: none;
  width: 240px;
  margin-left: 35px;
}
.social-item {
  width: 80px;
  height: 120px;
}
.html-academy-logo {
  margin: 0%;
  margin-right: 72px;
  margin-top: 42px;
  margin-bottom: 44px;
  fill: #000000;
}
.html-academy-logo:hover {
  fill: #756257;
  stroke: #756257;
}
.html-academy-logo:focus {
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}
.social-link {
  display: block;
  height: 45px;
  background-color: #83b3d3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 16px;
  margin: auto;
  margin-top: 45px;
}
.social-link-tw {
  background-image: url(../images/social-twitter.svg);
}
.social-link-fb {
  background-image: url(../images/social-facebook.svg);
}
.social-link-yt {
  background-image: url(../images/social-youtube.svg);
}
.social-link:hover {
  fill: #68a2ca;
  color: #6c9e42;
}
.social-link:focus {
  border: 3px solid #83b3d3;
  border-radius: 10px;
  fill: #68a2ca;
  width: 40px;
  height: 40px;
}
.main-inner {
  color: #ffffff;
  background-color: #e5e5e5;
  margin: 0%;
}
.page-container {
  margin: 0% auto;
}
.header-container {
  background-image: url("../images/catalog-background\ 1\ \(1\).jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.header-inner-title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0%;
  margin-bottom: 5px;
  margin-left: 71px;
  padding-top: 35px;
}
.breadcrumbs {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  display: flex;
  margin: 0%;
  margin-bottom: 45px;
  padding: 0px 72px;
  list-style-type: none;
}
.breadcrumbs-name {
  margin-left: 30px;
}
.catalog-hotels {
  padding-bottom: 83px;
}
.catalog-columns {
  display: inline-flex;
  margin: 0%;
  padding: 0%;
  margin-left: 72px;
  margin-right: 72px;
}
.catalog-filter-group {
  width: 150px;
  margin-right: 67px;
  padding: 0%;
}
.catalog-filter-type {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  width: 150px;
  margin-right: 167px;
  padding: 0%;
}
.catalog-filter-price {
  width: 288px;
  margin: 0%;
  padding: 0%;
  margin-right: 81px;
  display: grid;
  grid-template-columns: 144px 144px;
  gap: 20px 0px;
}
.catalog-filter-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 34px;
}
.control-lable {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.catalog-filter-input {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
}
.button-column {
  margin: 0%;
  width: 160px;
  height: 90px;
  padding-top: 60px;
}
.sorting-type-section {
  margin: 0%;
  padding: 0%;
  padding-bottom: 30px;
}
.sorting-type {
  color: #000000;
  background-color: #e5e5e5;
  margin-right: 81px;
  padding-top: 44px;
}
.sorting-container {
  display: flex;
  color: #000000;
  background-color: #e5e5e5;
}
.sorting-container::after {
  position: absolute;
  display: block;
  right: 109px;
  left: 109px;
  height: 1px;
  margin-top: 130px;
  background-color: #b9b0b0;
  content: "";
}
.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-top: 44px;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  margin-right: 8px;
}
.card-grid-toggle:hover {
  border: 2px solid #83b3d3;
  border-radius: 4px;
}
.card-grid-toggle:focus {
  border: 2px solid #83b3d3;
  border-radius: 4px;
}
.card-grid-toggle-current {
  border: 2px solid #000000;
  border-radius: 4px;
}
.rating-hotel-img {
  margin: auto;
  grid-column: 8/9;
}
.button-apply {
  color: #ffffff;
  background: #83b3d3;
  border-radius: 4px;
  padding: 10px 24px;
  border: none;
}
.button-apply:hover {
  background-color: #68a2ca;
}
.button-apply:focus {
  background-color: #68a2ca;
  outline: 3px solid #ffffff;
}
.button-reset {
  border: none;
  margin: 20px 10px;
  color: #ffffff;
  background-color: transparent;
  margin-left: 25px;
}
.button-reset:hover {
  color: #898786;
}
.button-reset:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
  width: 100px;
  height: 32px;
}
.hotel-card {
  color: #000000;
  background-color: #e5e5e5;
  display: grid;
  grid-template-rows: 60px min-content auto auto min-content min-content min-content;
  grid-template-columns: 72px 180px 36px 151px 8px 160px 361px 160px 72px;
}
.hotel-card-list {
  margin: 0%;
  padding: 0%;
  list-style-type: none;
  display: grid;
  gap: 60px 72px;
}
.hotel-card-item::after {
  position: absolute;
  display: block;
  right: 109px;
  left: 109px;
  height: 1px;
  margin-top: 30px;
  background-color: #b9b0b0;
  content: "";
}
.hotel-number {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin: 0px;
  margin-left: 71px;
  margin-right: 192px;
  padding: 0%;
  padding-top: 50px;
  padding-bottom: 45px;
}
.hotel-card-link {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  background-color: #e5e5e5;
  text-decoration: none;
  grid-column: 2/3;
  grid-row: ;
}
.hotel-card-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin: 0%;
  grid-column: 4/7;
}
.hotel-class {
  grid-column: 4/5;
}
.hotel-price-min {
  grid-column: 6/7;
}
.button-more {
  grid-column: 4/5;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
}
.button-more:hover {
  background-color: #615048;
}
.button-more:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}
.button-favorite {
  color: #ffffff;
  background-color: #83b3d3;
  grid-column: 6/7;
  border: none;
  border-radius: 4px;
}
.button-favorite:hover {
  background-color: #68a2ca;
}
.button-favorite:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}
.button-in-favorite {
  color: #ffffff;
  background-color: #7db54f;
  grid-column: 6/7;
  border: none;
  border-radius: 4px;
}
.button-in-favorite:hover {
  background-color: #6c9e42;
}
.button-in-favorite:focus {
  background-color: #6c9e42;
  outline: 3px solid #756257;
}
.button-rating {
  color: #000000;
  background-color: #f2f2f2;
  grid-column: 8/9;
  border: none;
  border-radius: 4px;
}
.pagination-show-more {
  background-color: #e5e5e5;
  margin: 0%;
  padding: 0%;
  padding-top: 30px;
}
.button-pagination-show-more {
  color: #ffffff;
  background-color: #83b3d3;
  margin: 0%;
  margin-top: 30px;
  margin-left: 287px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 250px;
  border: none;
  border-radius: 4px;
}
.button-pagination-show-more:hover {
  background-color: #68a2ca;
}
.button-pagination-show-more:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
  border-radius: 10px;
}
.pagination {
  color: #000000;
  background-color: #e5e5e5;
  display: flex;
  margin: 0%;
  padding: 0%;
  list-style-type: none;
}
.catalog-pagination {
  color: #000000;
  background-color: #e5e5e5;
  display: flex;
  margin: 0%;
  padding: 31px 72px;
  list-style-type: none;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-link-pagination-current {
  color: #000000;
  background-color: #f2f2f2;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  display: block;
  box-sizing: border-box;
  margin: 0%;
  padding: 15px 20px;
  width: 55px;
  height: 55px;
  border-radius: 4px;
}
.pagination-link {
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 15px 20px;
  border-radius: 4px;
}
.pagination-link:hover {
  background-color: #68a2ca;
}
.pagination-link:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}
.sorting-number {
  justify-content: space-between;
  margin: 0%;
  margin-left: auto;
}
.select-control {
  margin: 0%;
  padding: 13px 127px 13px 19px;
  border: none;
  border-radius: 4px;
  width: 287px;
}
.select-control-amount {
  margin: 0%;
  padding: 13px 133px 13px 17px;
  border: none;
  border-radius: 4px;
  margin-left: 51px;
}
.newsletter-title-inner {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0%;
  padding-top: 58px;
}
.newsletter-inner {
  color: #000000;
  background-color: #e5e5e5;
  text-align: center;
  padding: 0% 240px;
}
.newsletter-subscribtion {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
.subscribtion-form {
  margin: 0%;
  padding: 0%;
  padding-bottom: 138px;
  display: flex;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0% auto;
}
